.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--gradient-bg);
}

.loader {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  );
  margin-bottom: 2rem;
  box-shadow: 0 10px 25px var(--shadow-color);
}

.loader-text {
  font-size: 1.5rem;
  color: var(--text-primary);
  font-weight: 500;
}
